{% extends "lvl5_App/base.html" %}
{% load static  %}
{% block body_block %}
<div class="jumbotron">

  {% if registered %}
  <h1>User Registered!</h1>
  {%else%}
    <h1>Register Here!</h1>
    <h1>Fill out the form</h1>

    <form  enctype="multipart/form-data" method="post">
      {{  user_form.as_p }}
      {{  profile_form.as_p }}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" name="" value="Register">
    </form>
    <form method="post">
      {% csrf_token %}
      <label for="otp">OTP : </label>
      <input type="text" name="otp">
      <input type="submit" class="btn btn-success" name="" value="verify">
    </form>
  {% endif %}
</div>
{% endblock %}
